{%extends 'chathome.html'%}

{%load static%}

{% block chat_content %}
<div id="chat-header">
    <img src="{% static 'img/group_avatar.jpeg' %}" alt="Group Avatar">
    <h1>{{ group.name }}</h1>
</div>
<h3>Group Members</h3>
<ul id="members" >
    {% for member in group_members%}
    <li id="members-{{member.username}}" type="none">{{member}}</li>
    {%endfor%}
</ul>

    
    <div id="chat-messages" >
        {% for message in messages %}
        <div class="message"> {% if message.sender == user %}sent{% else %}received{% endif %}
            <p><strong>{{ message.sender.username }}</strong>: {{ message.content }}</p>
            <p class="timestamp">{{ message.timestamp }}</p>


        </div>
        {% endfor %}
    </div>
    <div id="message-input">
        <form id="message-form" method="post">
            {% csrf_token %}
            <input type="text" name="content" placeholder="Type your message here..." required>
            <button type="submit">Send</button>
        </form>
    </div>
    {% endblock %}
</div>

<script src={%static 'script/chat.js'%}></script>
</body>
</html>






